.site-header-link {
   display: block;
   font-weight: 700;
   font-size: 13px;
   line-height: 15px;
   text-align: center;   
   color: #2C2830;
   background: #FFFFFF;
   border: 1.5px solid #2C2830;
   margin-left: 33px;
   padding: 13px 23px;
}

@media only screen and (max-width:600px) {

   .site-header-link {
      margin-left: 0;
      margin-left: 12px;
   }
}

@media only screen and (max-width:510px) {

   .site-header-link {
      display: none;
   }
}